diagnostics.comp.exp.each.sample.pdf
diagnostics.comp.size.pdf
diagnostics.data.assigned.pdf
diagnostics.hdp.signature.exposure.pdf
diagnostics.likelihood.pdf
diagnostics.numcluster.pdf
diagnostics.signatures.pdf
extracted.signature.pdf
inferred.exposure.count.pdf
inferred.exposure.proportion.pdf
